
<h1 id="myurl1"><% "#{@french}"%></h1>
<div class="myarr"><%= "#{@harr}" %></div>
<div class="myurl">
 <% @arr.zip(@frarr).each do |a, f|  %>
  <div class="resultborder">
    <div class="results">
      <div class="resultcut"><%= a %> 33333 </div>
      <img class="voice" src="https://img.icons8.com/ios/50/000000/speaker.png">
    </div>
    <div class="flresults">
      <div class="resultcut"><%= f %></div>
      <img class="voice" src="https://img.icons8.com/ios/50/000000/speaker.png">
    </div>
  </div>
 <% end %>
</div>
