
<!-- <div class="flip-container" >
	<div class="flipper">
		<div class="card"> -->
			<!-- front content -->
	 <!-- </div>
		<div class="back">
			</div> -->
			<!-- back content -->
	 <div class="smallcard">
		some stuff
		</div>
		<div class="smallcard2">
		other stuff
		</div>
	<!-- </div> -->
	<button id="nextBtn"><%= "#{@txt}" %></button>
<!-- </div> -->

<div class="outer">
					<div class="front card"></div>
					<div class="back"></div>
				</div>





<div class="flashcardInputWrap">

	<textarea id="pasteList" name="name" rows="30" cols="80"></textarea>
		<button class="flashcardInput">Submit</button>
		<button id="">Paste</button>



		<form class="flashcardForm">

			<select id="oneSelect2" name="language" onchange="selectFilt()">
				 <option selected class="eng">English</option>
				 <option>French</option>
				 <option>Spanish</option>
				 <option>German</option>
				 <option>Arabic</option>
				 <option>Italian</option>
				 <option>Portuguese</option>
		 </select>
		 <div class="swap">
			 <span><img id="swapLang1" src="https://img.icons8.com/ultraviolet/40/000000/synchronize.png"></span>
		 </div>
			<select id="twoSelect2" name="language">

				<option class="alt">English</option>
				<option selected class="alt2">French</option>
				<option class="alt2">Spanish</option>
				<option class="alt2">German</option>
				<option class="alt2">Arabic</option>
				<option class="alt2">Italian</option>
				<option class="alt2">Portuguese</option>
		 </select>
		</form>
</div>




<script>

	function selectFilt() {
	// var x = document.getElementById("oneSelect1").value;

	oneSelect = document.getElementById("oneSelect2");
	str = oneSelect.options[oneSelect.selectedIndex].text
	 if (str == "English") {
	 $('.alt2').prop('disabled', false)
	 $('.alt').prop('disabled', true)
	 } else {
	  $('.alt2').prop('disabled', true)
	  $('.alt').prop('disabled', false)

	 };
	}
$(document).ready(function() {
let card = document.getElementsByClassName("front")[0];
const flip = document.getElementsByClassName("outer")[0];
const back = document.getElementsByClassName("back")[0];
const smallcard = document.getElementsByClassName("smallcard")[0];
const smallcard2 = document.getElementsByClassName("smallcard2")[0];
const box = document.getElementsByClassName("flashtextbox")[0];
const button = document.getElementsByClassName("flashcardInput")[0];
const oneSelect = document.getElementById("oneSelect2");
const twoSelect = document.getElementById("twoSelect2");
const wrap = document.getElementsByClassName("flashcardInputWrap")[0];
const next = document.getElementById("nextBtn");
let bench = 0
let toggled = false;
let ndex;

// back.addEventListener("click", doThis2, false);
// smallcard.addEventListener("click", doThis3, false);


button.addEventListener('click', doThis4, false);
function doThis() {
 console.log("its on");
 // this.className += " hover";
 // flip.style.transform = "rotateX(180deg)";
 // card.style.transform = "rotateX(180deg)";
}
// card.addEventListener("click", flipv, false);
// function flipv() {
//
// }
function doThis2() {
 // this.className += " hover";
}


function doThis3() {
 $(".smallcard").animate({

	  height: '300px',
		top: '50%',
		left: '45%',
		width: '500px',
		backgroundSize: '100%',
		marginLeft: "-250px"
});
 // $(".smallcard").animate({height: '300px'});
  // $(".smallcard").animate({top: '50%'});

}


function doThis4() {
console.log("clicking");
button.removeEventListener('click', doThis4, false);
	$(".front").empty()

	let filarr = document.getElementById("pasteList").value.split("\n")
    console.log(typeof filarr)
  let i;
  let arr = []
  // let arr2 = []
  let ks = filarr.filter(function (el) {
    return el != "";
    });
    let jt = []
  for (i = 0; i < ks.length; i++) {
    jt[i] = ks[i] + '<br />';
    // if (arr.length < 26) {
   arr.push((i + 1) + ". " + jt[i]);
 // } else { arr2.push((i + 31) + ". " + ks[i]) ; }
  };


  const str = oneSelect.options[oneSelect.selectedIndex].text;
  const str2 = twoSelect.options[twoSelect.selectedIndex].text;
  const collins = "https://www.collinsdictionary.com/dictionary/";
  const langlink = collins + str.toLowerCase() + "-" + str2.toLowerCase() + "/";
  let langOne = str + " Female"
  let langTwo =  str2 + " Female"
  let en = "US English Male"
  let gn = "Deutsch Female"
	let toggled = false
  if (str[0] == "E") {
    langOne = en
  } else if (str2[0] == "E") {
      langTwo = en
    };
  if (str[0] == "G") {
      langOne = gn
    } else if (str2[0] == "G") {
        langTwo = gn
    };




  enfrlinks = []
  arr2 = [] //this will be based on user input language choice,  so we only use one line for it
  for (i = 0; i < ks.length; i++) {
    arr2.push(ks[i]);
    word = ks[i].replace(/\s+/g, '-');
    enfrlinks.push(langlink + word);
  }
	$.ajax({

   url: "flash",
   data: { data_value: enfrlinks },
   success: function(response)
      { if (response) {
				console.log(had success)
				  toggled = false;
          let result = $(response).find(".arrList2");

				  // let oneWord = $(result).children().first()
					let allWords = $(result).children()
					let oneWord = $(allWords).get(0)
			     	$(".card").append(allWords)
						$(allWords).css("display","none");
						$(oneWord).css("display","block");
						$(oneWord).addClass("onCard")
						console.log(allWords)
						wh = $(allWords).get(2)
						smallcard.innerHTML = $(wh).text()

						//.css("display", "block");
					// $(".card").append(oneWord)
					// $(allWords).css("display", "block");
					// $(oneWord).css("display", "block");
					button.addEventListener('click', doThis4, false);
				card.removeEventListener("click", quickCall, false);
				back.removeEventListener("click", quickCall, false);
				next.removeEventListener('click', nextFunc, false);


        card.addEventListener("click", quickCall, false);
				back.addEventListener("click", quickCall, false);
      	next.addEventListener('click', nextFunc, false);
        bench = 0


				 $("all words").css("display", "none")
					$("all words").first()
					//put that word in the center of card
			 } }
    });
}
function quickCall() {
	listenerFunc(0)
}
function nextFLip() {

	back.style.transform = "rotateX(180deg)";
	card.style.transform = "rotateX(0deg)";

 card.style.zIndex = "999";
 back.style.zIndex = "-999";
 toggled = false;
}
function listenerFunc(ndex) {
 console.log(toggled + "toggled")
 console.log(card.children[ndex].className + "are the children")

	//we have to do a loop or recursive here

	if ( (card.children[ndex].className == "word lst onCard" ) && toggled == false)
   {

		 back.style.transform = "rotateX(0deg)";
		 card.style.transform = "rotateX(-180deg)";
		 card.style.zIndex = "-999";
			 back.style.zIndex = "999";
		 //this is the one
		 //the index of it is defs index
		 console.log("heres the definition")
		   index =  $(card.children[ndex]).index(".word")
			 console.log(index)
			 ourdef = $(".defn").eq(index) // jsais pas exactmnt le syntax
			 //ca marche mtnt
			 console.log("from listener" + $(ourdef).text() + "is def")
			 back.innerHTML = $(ourdef).text()
       toggled = true
			 console.log(toggled + "now")
			 console.log("it was false just made it true ")

   } else if (toggled == true)
    {
			console.log("flipping back over")
			back.style.transform = "rotateX(180deg)";
			card.style.transform = "rotateX(0deg)";

		 card.style.zIndex = "999";
 		 back.style.zIndex = "-999";

         toggled = false;
				 console.log("it was true just made it false ")
    } else {
			console.log("listening again")
			listenerFunc(ndex + 1)
			//
		}

	 //take its definition on the flip over   .... we dont have to find the card text
	 //just find on card's index put it on the def
	//  i =  $(oneWord).index(".word");


}
function nextFunc() {
	recurse(0)

// var current;


  //   for (var s = 0; s < 10; s++) {
	//
	// 		 console.log(card.children);
	// 		if ( (card.children[s].className == "word lst onCard") || (card.children[s].className == "defn lst onCard") ){
	// 		  $(card.children[s]).removeClass("onCard");
	// 			$(card.children[s + 1]).addClass("onCard");
  //      console.log(card.children[s + 1].className) //
	// 		 console.log(s)
	// 		 console.log(card.children.length) //.addClass("onCard");
  //         smallcard2.innerHTML = $(card.children[s + 2]).text()
  //      // card.innerHTML = card.children[i + 1].html  //i take away the children here
  //    return;
  //   // }
	// } else {
  //  console.log(s)
	//  console.log(card.children[s].className + "in else")
	// }
	//
	//
  // }



}


function big() {

	$(".smallcard").animate({

		 height: '300px',
		 top: '50%',
		 left: '45%',
		 width: '500px',
		 backgroundSize: '100%',
		 marginLeft: "-250px",
		 zIndex: 3
	});


}



function small(text) {
setTimeout( function(){
$(".smallcard").css({

	 height: '100px',
	 top: '160%',
	 left: '135%',
	 width: '200px',
	 backgroundSize: '100%',
	 marginLeft: "-250px",
	 zIndex: 3
});
smallcard.innerHTML = text
}, 500)
 // setTimeout(function(){
 // }, 3000)
}
function recurse(index) {
	// for (var s = 0; s < 10; s++) {
  next.removeEventListener('click', nextFunc, false);
	// 	if ( (card.children[s].className == "word lst onCard") || (card.children[s].className == "defn lst onCard") ){
	// 		$(card.children[s]).removeClass("onCard");
	// 		$(card.children[s + 1]).addClass("onCard");     //this doesnt happen fast enough
	// 	 console.log(card.children[s + 1].className) //
	// 	 console.log(s)
	// 	 console.log(card.children.length) //.addClass("onCard");
	// 			smallcard2.innerHTML = $(card.children[s + 2]).text()
	// 	 // card.innerHTML = card.children[i + 1].html  //i take away the children here
	//  return;
   ndex = index
	// if (index >= (card.children.length - 2)) {
	// 	$(card.children[index]).removeClass("onCard");
	// 	$(card.children[index]).css("display", "none");
 //   console.log("this should be gone now" +  card.children[index].innerHTML + index)
 // 	  index = 0;
	//   $(card.children[index]).addClass("onCard");
 //
 //
	// 	big();
	// 	setTimeout(function(){
	// 	index = 0;
	// 	small()
	// 	setTimeout(function(){smallcard.innerHTML = $(card.children[1]).text()}, 500)
 //
	// 	$(card.children[index]).css("display", "block");
	//  // recurse(0);
 //       }, 900);
 // } else
 // if ( (card.children[ndex].className == "word lst onCard" ) && (index == (card.children.length - 2)) )  {
	//  smallcard.innerHTML = $(card.children[0]).text()
	//  console.log("the neg 4")
	//  console.log($(card.children[(index + 2)]).text() + "is the text here ");
	//  console.log($(card.children[(index)]).text() + "is the text here ");""
	//  big();
 //
	//  nextFLip()
	//  // smallcard2.innerHTML = $(card.children[index + 2]).text();
	// $(card.children[index]).removeClass("onCard");
	// $(card.children[index + 2]).addClass("onCard");
 //
 //
 // txt = $(card.children[index + 4]).text()
 //
	// setTimeout(function(){
	// 	small(txt);
 //
	// 	$(card.children[index + 2]).css("display", "block");
	// 	$(card.children[index]).css("display", "none");
	//  }, 900)
 //
	// console.log(index + 1 + "the last")
	// console.log("size is " + card.children.length )
 //
 //
 //
	// return;

 // } else

 if ( (card.children[ndex].className == "word lst onCard") && (index < (card.children.length - 3) ) ) {
		smallcard.innerHTML = $(card.children[index + 2]).text()
		 console.log($(card.children[index + 4]).text() + "is the text here ");
		 console.log($(card.children[index + 2]).text() + "is the text here ");
		 console.log($(card.children[index]).text() + "is the text here ");
		big();
		console.log(index);
		nextFLip()
		// smallcard2.innerHTML = $(card.children[index + 2]).text();
	 $(card.children[index]).removeClass("onCard");
   $(card.children[index + 2]).addClass("onCard");

	 txt =  $(card.children[index + 4]).text()



	 setTimeout(function(){
		 small(txt);

		 $(card.children[index + 2]).css("display", "block");
		 $(card.children[index]).css("display", "none");
    }, 900)

	 console.log(index + 1 + "the last")
	 console.log("size is " + card.children.length )

   setTimeout(function(){next.addEventListener('click', nextFunc, false);}, 1500)

	 return;

 } else if ( (card.children[ndex].className == "word lst onCard" ) && (index == (card.children.length - 3)) )  {
	 smallcard.innerHTML = $(card.children[0]).text()
	 big();
	 nextFLip()
		console.log("bop");
	 $(card.children[index]).removeClass("onCard");
	 console.log(card.children[index].innerHTML)
   // $(card.children[index + 1]).addClass("onCard");

	 console.log(index + "last is running")
	 console.log("size is " + card.children.length )
	 $(card.children[index]).css("display", "none");

	 index = 0
   $(card.children[index]).addClass("onCard");

	 txt = $(card.children[0]).text()
	 setTimeout(function(){
   small(txt)

	 $(card.children[0]).css("display", "block");
 }, 900)
 setTimeout(function(){next.addEventListener('click', nextFunc, false);}, 1500)
	 return;

 } else if (!(card.children[ndex].className == "word lst onCard") && (index < (card.children.length - 2))) {

		 // console.log("ending" + index)
		 // console.log(card.children[index])
	   recurse(index + 1);
		 console.log("running again");
		 return;
 }


}












});
</script>
