// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  // background-color: lightblue;
    background-color: #FFFAF0;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
    background-color: #FFFAF0;
}
a {
  text-decoration: none;
}
.wrapALL {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  // z-index: -1;
  background-color: #FFFAF0;
  // overflow-x: hidden;
}
.container {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: auto;
    position: absolute;
    overflow: hidden;
    background-color: #FFFAF0;
}
.sidenav {
  height: 100%;
  width: 0px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  // background-color: #111;
    // background-color: #FFFAF0;
  overflow-x: hidden;
  transition: 0.2s;
  background-color: #EFF5F7;
}

.sidenav a {
  text-decoration: none;
  font-size: 13px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
  background-color: transparent;
}
.navW {
  // padding-top: 0px;
  margin-top: -30px;
}
.navImg img{
  margin-top: -40px;
  margin-left: 20px;
  height: 150px;
}

.tlink {
  padding: 8px 8px 15px 62px;
  padding-bottom: 25px;
  border-bottom: 1px solid white;
  width: 250px;
}
.rlink {
  padding: 8px 8px 15px 62px;
  padding-top: 25px;
  width: 250px;
}
.alink {

  padding: 8px 8px 15px 62px;
  width: 250px;
}

.navImg2 img{
  margin-top: -92px;
  margin-left: 50px;
  height: 150px;
}


.nbar {
  height: 60px;
  width: 100%;
  background-color: gray;
  position: absolute;
  top: 0;
  // margin-left: 10px;
  // overflow: auto;
}
.fondIcn {
  overflow-x: auto;
  width: 20px;

  text-align: center;
  padding: 10px;
  border-radius: 50%;
  margin-left: 5px;
  margin-top: 7px;

}

.fondIcn:hover {
  background: red;
}

.bpmw {
  display: none;
}
.refnav {
  height: 40px;
  width: 100%;
  background: #0063D4;
  position: relative;
  left: -50%;
  overflow: auto;
  height: 50px;
  border-radius: 2px;
}
.hrefnav {
  height: 40px;
  width: 100vw;
  background: #0063D4;
  position: relative;

  overflow: auto;
  height: 50px;
  border-radius: 2px;
}
.reflogo {
  height: 50px;
  width: 100%;
  position: relative;
  // background-color: green;

  left: -50%;

}
.refmenu {
  top: 0;
  // position: relative;
  float: right;
  background: red;
  width: 30px;
  height: 30px;
  line-height: 30px;
  overflow: auto;
  font-size: 17px;
  text-align: center;
  margin-right: 8px;
  margin-top: 10px;
  // z-index: 1;
  border-radius: 3px;
}
.refmenu {
  top: 0;
  // position: relative;
  float: right;
  background: red;
  width: 30px;
  height: 30px;
  line-height: 30px;
  overflow: auto;
  font-size: 17px;
  text-align: center;
  margin-right: 8px;
  margin-top: 10px;
  // z-index: 1;
  border-radius: 3px;
}
.inputsm {
  position: relative;
  display: flex;
  background-color: white;
  overflow: auto;
  margin-top: 10px;
  margin-left: 10px;
 height: 28px;
 background: red;
 height: 40px
}
.refSearch {

  // padding: 10px;
  position: relative;
  width: 10%;
  // display: inline-block;
  // margin-top: 10px;
  // margin-bottom: 20px;
  // bottom: 10%;
  // margin-right: 10px;
  display:inline-block;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.langwrap {
  margin-top: 5px;
  margin-left: 70px;
  position: relative;
  overflow: auto;
  display: inline-block;

}
.refmenu:hover{
 cursor: pointer;
}
.refmenu i{

  color: white;
}
.refavail {
  color: white;
  width: 80%;

  position: relative;
  display: inline-block;
  line-height: 50px;
}

.lownav  {
  margin-top: 0;
  top: 0;
  height: 450px;
  width: 1100px;
  position: absolute;
  left: 50%;
  // z-index: -2;
  // border-bottom: 6px dashed rgba(28,110,164,0.33);
}

.topnav  {
  // margin-top: 10px;
  height: 150px;
  width: 100%;
  // background-image: url("hands.jpg");
  // background-repeat: no-repeat;
  position: relative;
  left: -50%;
  // z-index: -1;
  // opacity: 0.3;
  //
  // box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.59);
  background-color: #EFF5F7;
  // border-bottom: 6px dashed rgba(28,110,164,0.33);
  border-radius: 5px;
}
.topnav::after {
 content: ' ';
 display: block;
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 300px;
 z-index: -1;
 opacity: 0.7;
 // background-image: url("hands.jpg");
 // background-repeat: no-repeat;
 // background-size: 2400px 1300px;
 // background-position: center;

 // background-image: url("spain.jpg");
 // background-position: 0 60%;
 // background-size: 100vw calc(100vw / 3.9);

 background-image: url("text.jpg");
 background-position: 0 60%;
 background-size: 100%;
}

.topnav.french::after {
   background-image: url("paris.jpg");
}
.topnav.spanish::after {
   background-image: url("spain.jpg");
}
.topnav.dutch::after {
  background-repeat: no-repeat;
  background-image: url("netherlands.jpg");
  background-position: 0 80%;
  background-size: 2300px 1100px;
}
.topnav.arabic::after {
   background-image: url("dubai.jpg");
}
.topnav.italian::after {
   background-image: url("venice.jpg");
}
.topnav.russian::after {
   background-image: url("russia.jpg");
}



.refSearch:hover {
  background: #ccc;
}
 .search-container  {
  float: left;
   z-index: 2;
   margin-left: 10px;
   width: 55%;
  // background: red;
}
.langselect {
  // float: left;
  // background: green;
  margin-left: 10px;
  // border: 1px solid green;
  display: inline-block;
}
.sw {
  // float: left;
  // // background: green;
  //   margin-left: 10px;
  //   margin-top: 10px;

}
.topnav .langselect select {
  float: left;
  padding: 6px 6px;
  font-size: 17px;
  width: 150px;
  border: none;
}

select:focus {
  border: none;
  outline: none;
}

.topnav .langselect .swap{
  padding-top: 2px;
  // background: orange;
  width: 30px;

  text-align: center;
}
.searchcontain {
  // position: relative;
  // left: 50%;
  overflow: auto;
 width: 100%;
}
.searchwrap {
  // position: relative;
  // margin-left: -50%;
  // background: purple;
  overflow-x: auto;
  // margin-left: 50%;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}
.selectWrap {
  margin-top: 5px;
  border-radius: 2px;
  display:inline-block;
  overflow:hidden;
  background: white;
  padding: 4px;

}
.logged {
  // height: 10px;
  // width: 100px;
  position: relative;
  float: right;
  margin-right: 20px;
  font-size: 16px;
  font-weight: bold;
  line-height: 30px;
  z-index: 9999999;
}
.usermenu {
  width: 100%;
  // background-color: orange;
  // height: 100px;
  position: absolute;
  z-index: 1;
  display: none;
  overflow-y: auto;
}
.ulpaste {
position: relative;
margin-top: 0px;
padding: 0;
z-index: 99999999;
}
.ulpaste li{

  // border-bottom: 1px solid blue;
  background: lightblue;
  padding: 7px 0px;
  z-index: 99999999;
}


.ulpaste li:not(:first-child){
  border-top: 1px solid blue;
}
.midref {
width: 100%;
height: 200px;
position: relative;
left: -50%;
margin-top: 20px;

}
.refinfo {
  width: 57%;
  height: 250px;
  position: relative;
  display: inline-block;
  background-color: white;
  left: 0;
  border: 1px solid lightblue;
}
.refinfowrap {
  width: 90%;
  margin-left: 10px;
  position: relative;
  text-align: left;
  // background: green;
}
.refrecent {
  width: 38%;
  height: 250px;
  position: relative;
  display: inline-bloc;
  float: right;
  background-color: white;
  vertical-align: center;
  border: 1px solid lightblue;

}
.recentcontain {
  width: 90%;
  height: 90%;
  margin: 2.5% auto;
  background-color: white;
  display: block;
  position: relative;
}
.guestref {
  margin: 0 auto;
  margin-top: 50px;
  color: black;
  font-size: 20px;
  font-family: Arial;
  
}


.refeach {
  background-color: white;
  position: relative;
  width: 100%;
  height: 15%;
  line-height: 24px;
}
.refeach:nth-child(odd) {
  background: lightblue;
}
.recenteach {
  text-decoration: none;
  color: white;
}
.recenteach:hover {
    background-color: transparent;
  }


.reffooter {
  display: flex;
    position: relative;
    width: 100%;
    left: -50%;
    top: 90%;
    height: 250px;

    transform: translateY(-100%);
  }

    .reffoot1 {
        display: flex;
        // position: relative;
        width: 50%;
        // left: 0;
        // float: left;
        height: 100%;

      }
      .reffoot1le {
          // display: flex;
          // position: relative;
          width: 50%;
          // left: 0;
          // float: left;
          height: 100%;
          background-color: #EFF5F7;
        }
        .reffoot1ri {
          // display: flex;
            // display: inline-block;
            // position: relative;
            width: 50%;
            // float: right;
            height: 100%;
            background-color: #EFF5F7;
          }





      .reffoot2 {
        display: flex;
          // display: inline-block;
          // position: relative;
          width: 50%;
          // float: right;
          height: 100%;

        }
        .reffoot2le {
            // display: flex;
            // position: relative;
            width: 50%;
            // left: 0;
            // float: left;
            height: 100%;
            background-color: #EFF5F7;
          }
          .reffoot2ri {
            // display: flex;
              // display: inline-block;
              // position: relative;
              width: 50%;
              // float: right;
              height: 100%;
              background-color: #EFF5F7;
            }
ul {
 list-style-type: none;
}
.footone li, .foottwo li,
.footthree li,
.footfour li{
  padding-bottom: 10px;
  color: black;
}
.footone a {
  color: black;
}
ul a:hover{
  background-color: transparent
}
ul h2{
  font-family: Arial, Helvetica, sans-serif
}
.histnv {
  // overflow: auto;
  left: 50%;
  width: 800px;
  position: absolute;
}
.hist {
  overflow: auto;
  left: -50%;
  width: 800px;
  position: relative;
}
.histmain {
  font-size: 16px;
  color: green;
  line-height: 33px;
  padding: 0px 3px;
}
.histrep {
  display: none;
  // padding: 30px;
  // border: 1px solid blue;
  overflow: auto;
}
.histrep:nth-child(even) {
  background-color: lightblue;
}
.histwrap {
  display: flex;
  overflow: auto;
  width: 90%;
  vertical-align: middle
}
.histsmalldefs {
  display: inline-block;
  float: left;
  margin-top: 7px;
  padding: 0px 7px;
  height: 20px;

}

.histsmalldate {
  display: inline-block;
  float: right;
  margin-top: 7px;
}
.histsmallarrw {
  display: inline-block;
  float: left;
  margin-top: 3px;
  padding: 7px;
}

.histsmalldefs:not(:last-child) {
    border-right: 2px solid gray;
}
.pag {
  display: flex;
}
.pagbase {
  padding: 3px 8px;
  border: 1px solid #FFFAF0;
  border-radius: 2px;
  cursor: pointer;
}
.showing {
  display: flex;
}
.rescount {
  padding: 0px 5px;
}





.homeContent {
  display: none;
  // height: 60vh;
  width: 39vw;
  min-width: 650px;
  max-width: 750px;
  // background: lightblue;
  overflow-y: auto;
  margin: 100px  auto;
  // z-index: 1;
}
.homeContentref {
  display: none;

  width: 800px;

  left: -50%;
  position: relative;
  // background: lightblue;
  overflow-y: auto;
  margin: 100px auto;

}
.wrp{
   overflow: hidden;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 80vw;
  height: 250px;
  margin-left: -40vw;
  // margin: -700px auto;
  border-radius: 10px;
  // overflow: auto;
  background-color: purple;
  // display: none;
}
.wrapList {
  // display: grid;
  position: relative;
  // grid-template-columns: auto auto auto;
  background-color: white;
  // padding: 50px;
  overflow: hidden;
  // position: absolute;
  // top: 298px;
  // left: 57vw;
  width: 1000px;
  // background: white;
  // margin: 0 auto;

  top: -152px;
  display: none;
  // z-index: 999999999999;
  // top: 48px;
  // margin: 0 auto;
  // margin-left: -40vw;
  text-align: center;


 //  overflow: hidden;
 // position: absolute;
 // top: 30%;
 // left: 50%;
 // width: ;
 // height: 250px;
 // // margin: -700px auto;
 // border-radius: 10px;
 // // overflow: auto;
 // background-color: purple;
 // // display: none;
}
.row {

  // background-color: rgba(255, 255, 255, 0.8);
  // border: 1px solid rgba(0, 0, 0, 0.8);
  // padding: 10px;
  font-size: 10px;
  // text-align: center;
  float: left;
  // border: 1px solid black;
  padding: 7px 9px;
  width: 9vw; //change width depending on screen
  // z-index: 9999999;
  background: white;
  // display: inline-block
  text-align: left;
  // margin-left: 10px;
}
.lwab {
 overflow: auto;
}
.tlwrap {
  position: absolute;
  min-height: auto;
  width: 1000px;
  // width: 100vw;
  top: 200px;
  left: 50%;
  // margin: 0 auto;
  // margin-left: -200px;
  padding-top: 48px;
  // z-index: 1;
}
.translateContent {
  // display: inline-block;
 // overflow: hidden;
 position: relative;
  height: 200px;
  width: 100%;
  left: -50%;

  border-radius: 10px;
  // display: inline-block;
  // min-width: 850px;
  // max-width: 950px;
  // background: green;
  // margin: 0 auto;
  // margin-left: calc(50vw / -5);
  // border-radius: 12px;
  // z-index: 9999999999;
}
.overflownc {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid gray;
}
.fill {
 width: 100%;
 height: 100%;
 background: white;
 z-index: -1;
}
 .tlbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; //souleve hauteur plus tard
  // height: 100%;
  height: 48px;
  // margin: 1px !important;
  background: orange;
  z-index: 0;
}
.first {
  // position: relative;
background: red;
height: 100%;
width: 50%;
float: left;
// margin-left: 200px;
// z-index: 99999999999;
}
.detected {
    position: relative;
  // border: 2px solid white;
  // width: 30%;

  overflow: auto;

  // text-align: center;
  height: 48px;
  line-height: 48px;
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}
.dtc {
  border-right: 2px solid white;
  overflow: auto;
  display: inline-block;
  background: purple;
  padding-right: 10px;
}
.second {
background: lightblue;
height: 100%;
width: 50%;
float: left;
line-height: 48px;
font-weight: lighter;

}
#slctLang {
  // background: teal;
  display: inline-block;
  font-weight: bold;
  z-index: 999999999;

}
#slctLang:hover {
  // background: teal;
  cursor: pointer;
}

.textboxwrap {
  top: 48px;
  position: absolute;
  // background: pink;
  left: 0;
  z-index: 0;
  height: 50%;
  width: 50%;
}
#translateBox {
  border: none;
  outline: none;
  font-size: 16px
}

.voiceOut {
  font-size: 10px;
  color: gray;
}
.resultContent {
  top: 48px;
  position: absolute;
  background: white;
  right: 0;
  z-index: 0;
  height: 152px;
  width: 50%;
  border-left: 1px solid lightgray;
}
.resultText {
  font-size: 16px;
}


.speakCodes {
  border-right: 1px solid black;
  padding-right: 7px;
  padding-left: 7px;
}
.speakCodes:last-child {
  border-right: none;
}
.refspeakCodes {
  border-right: 1px solid white;
  padding-right: 7px;
  padding-left: 7px;
}
.refspeakCodes:last-child {
  border-right: none;
}
.logo1 {
  font-weight: bold;
  font-size: 30px;
  font-style: italic;
  color: black;
}
.logo2 {
  font-weight: bold;
  font-size: 30px;
  font-style: italic;
  color: #0063D4;
}
.hattrick {
  display: inline-block;
width: 300px;
height: 60px;
 position: relative;
 margin-left: 20px;
 line-height: 50px;
}







.highlight {
  background: yellow;
}
.results {
  // background: teal;
  width: 50%;
  float: left;
  margin-top: 0;
  padding-bottom: 14px;
  padding-top: 8px;
}
.results img{
  width: 20px;
  height: 20px;
  padding-top: 10px;

}
.flresults {
  // background: pink;
  width: 50%;
  float: left;
  margin-top: 0;
  padding-bottom: 14px;
  padding-top: 8px;


}
.flresults img{
  width: 20px;
  height: 20px;
  padding-top: 10px;

}
.stuff {
  visibility: hidden;
}
.resultborder {

  border-bottom: 1px dashed red;
  position: relative;
  overflow: auto;
}
.heart {
  padding: 10px;
}
// .resultborder:hover {
//
// background-color: pink;
// // opacity: 0.5;
// }
.resultcut {

  width: 90%;
}
.mute {
  display: none;
}
#inputTxt {
  // width: 20vw;
  // min-width: 560px;
  // width: 800px;

  // float: left;
  // padding: 6px;
  // margin-top: 8px;
  font-size: 17px;
  border: none;
   z-index: 1;
   width: 100%;

   // height: 28px;
}

.link_highlighted {

}
em {
    background-color: rgba(255,255,0,0.3);
}
.myarr {
  margin: 0 auto;
  color: red;
  border-radius: 4px;
  border: 1px solid red;
  // float: left;
  padding: 10px;
  background: pink;
  display:inline-block;
}

.innerList {
padding: 2px 7px;
display:inline-block;
overflow: auto;


}
.wordList {
  display: none;
  width: 39vw;
  min-width: 650px;
  max-width: 750px;
  margin: 0 auto;
  overflow: auto;
  text-align: left;
  position: relative;
  left: -50%;
  // margin-top: 330px;
  background: blue;
}
#swapLang:hover {
  transform: rotate(-100deg);
}
#swapLang {
  height: 32px;
  width: 32px;
  text-align: center;
  transition: transform 0.4s;
}




@media screen and (max-width: 900px) {
  .tlwrap {

    width: 100vw;
    left: 0;
    margin-left: 0;
  }
  .wrapList{
    width: 100vw;
  }
  .row {
    margin-right: 100px;
  }
 .translateContent {

    // width: 100vw;
    left: 0;
    // margin-left: 0;
  }
}
@media screen and (max-width: 700px) {
  .tlwrap {

    width: 100vw;
    left: 0;
    margin-left: 0;
  }
 .translateContent {

    // width: 100vw;
    left: 0;
    // overflow: visible;
    // margin-left: 0;
  }
  .textboxwrap {

    width: 100%;

  }
  .resultContent {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    top: 146px;
    position: absolute;
    background: #D3EBF4;
    left: 0;
    z-index: 0;
    height: 152px;
    width: 100%;
  }
  .tlbar {
   height: 30px;
 }
 .detected {

   height: 30px;

   font-size: 13px;
   width: 100%;
 }
 .second {
   font-size: 13px;
   line-height: 30px;


 }
 .textboxwrap {
   top: 30px;
 }
 .voiceOut {
   display: none;
 }
 .overflownc {
   overflow: visible;
   border: none;
   border-radius: 0;
 }

}

@media screen and (max-width: 660px) {
 .homeContent {
   min-width: 100vw;
 }
 .flresults {
   margin-left: 6px;
   float: none;
   width: 80%;
 }
 .results {
   margin-left: 6px;
   float: none;
   width: 80%;


 }
}
 @media screen and (max-width: 1080px) {
   .lownav {
     width: 100vw;
     left: 0;
   }
  .topnav {
    width: 100vw;
    left: 0;
  }
  .refnav {
    left: 0;
  }
  .reflogo {
    left: 0;
  }
  .midref {
    left: 0;
  }
  .reffooter {
    left: 0;
  }

  .inputsm {
    margin: 0 auto;
    width: 100%;
    height: 40px;
  }


  .search-container {
    margin: 0 auto;
    width: 100%;
    // position: static;

  }
  .searchcontain {
    position: relative;
    margin: 0 auto;
    width: 90%;
    top: 25px;

    // position: static;
  }
  .refsearch {
    // float: right;
    right: 0;
    width: 7%;

  }
  #inputTxt {
    width: 100%;
  }
  .selectWrap {
    width: 100%;

  }
  .selectbx {
    width: 1000px;
  }
  .langwrap {
    margin-left: 0;
    top: -5px;
    width: 100%;
    display: flex;
  }
  .langselect {
    margin-left: 0;

    width: 33%;
    overflow: hidden;

  }
  .swap {
    margin: 0 auto;
  }
  .topnav .langselect select {
    float: left;
    padding: 6px 6px;
    font-size: 17px;
    width: 100%;
    border: none;
  }
  .homeContentref {
    left: 0%;
  }
  .wordList {
    left: 0%;
  }
 .histnv {
   left: 0;
   width: 100vw;
 }
 .hist {
   left:0;
   width: 100vw;
 }

}
 @media screen and (max-width: 900px) {
   .refinfo {
     width: 90%;
     position: relative;
     display: block;
     margin: auto;
     overflow-y: auto;
     margin-bottom: 30px;
   }
   .refinfowrap {
     padding-top: 10px;
   }
   .midref {
     margin-top: 20px;
   }
   .refrecent {
     width: 90%;
     margin-top: 200px;
     position: relative;
     display: flex;
     margin: 0 auto;
     justify-content: center;
     // margin-top: 20px;
     // top: 20%;
     float: none;
     // padding-top: 1px;
     vertical-align: middle;
  // text-align: center;
   }
   .recentcontain {
     margin: 0%;
      // margin-top: 49px;
     position: relative;
     display: inline-block;
     margin: 0 auto;
     margin-top: 20px;
     // left: 10px;

   }
   .reffooter {
     display: block;
     left: 0%;
     }
   .reffoot1 {
       position: relative;
       display: inline-block;
       width: 100%;
       // left: 0;
       // float: left;
       // background-color: pink;


     }
     .reffoot2 {
         display: block;
         position: relative;
         width: 100%;
         // left: 0;
         // float: left;
       }
   .reffooter {
     top: 150%;

     // overflow: auto;
     }
   .reffoot1le {
     // background-color: blue;
     display: inline-block;
     width: 100%;
     text-align: center;
     border-bottom: 1px solid gray;
    }
   .reffoot1ri {
      // background-color: green;
      display: inline-block;
      width: 100%;
      // height: 170%;
      text-align: center;
      border-bottom: 1px solid gray;
      // padding-bottom: 20px;
   }
   .reffoot2le {
   // background-color: red;
   display: inline-block;
   width: 100%;
   text-align: center;
   border-top: 1px solid gray;
   border-bottom: 1px solid gray;
   margin-top: 30px;
   }
   .reffoot2ri {
      // background-color: yellow;
      display: inline-block;
      width: 100%;
      text-align: center;
   }
   .footone li, .foottwo li,
   .footthree li,
   .footfour li{
     margin-left: -70px
   }
 }
