// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  margin: 0;
  position: absolute;
  background-color: black;
  height: 300px;
  width: 100%;
}
.topnav input[type=text] {
  float: left;
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.topnav .search-container button {

  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
  float: left;
}
.topnav .search-container  {
  float: left;
  // background: red;
}
.topnav .langselect {
  float: left;
  // background: green;
  padding: 0px 3px;

}
.topnav .langselect select {
  float: left;
  padding: 6px 10px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}
.topnav .langselect span{
  color: white;
}
.topnav .langselect .swap{
  padding-top: 20px;
  // background: orange;
  width: 30px;
  text-align: center;
}
.homeContent {
  height: 60vh;
  width: 39vw;
  min-width: 650px;
  max-width: 750px;
  background: lightblue;
  margin: 300px  auto;
  z-index: 1;
}
.highlight {
  background: yellow;
}
.results {
  background: teal;
  width: 50%;
  float: left;
  margin-top: 0;
  padding-bottom: 14px;
  padding-top: 8px;
}
.results img{
  width: 20px;
  height: 20px;
  padding-top: 10px;
}
.flresults {
  background: pink;
  width: 50%;
  float: left;
  margin-top: 0;
  padding-bottom: 14px;
  padding-top: 8px;

}
.flresults img{
  width: 20px;
  height: 20px;
  padding-top: 10px;
}
.resultborder {

  border-bottom: 1px dashed red;
  position: relative;
  overflow: auto;
}
.resultcut {

  width: 90%;
}

@media screen and (max-width: 660px) {
 .homeContent {
   min-width: 100vw;
 }
 .flresults {
   margin-left: 6px;
   float: none;
   width: 80%;
 }
 .results {
   margin-left: 6px;
   float: none;
   width: 80%;


 }

}
