// Place all the styles related to the translation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.midset  {
  margin-top: 0;
  top: 0;
  height: 450px;
  width: 800px;
  position: absolute;
  left: 50%;
  // z-index: -2;
  // border-bottom: 6px dashed rgba(28,110,164,0.33);
}
.topset {
 left: -50%;

 width: 800px;
 display: block;
 position: relative;
 overflow-y: auto;
 // background-color: lightblue;
}
.pastelogo {

    height: 50px;
    width: 100%;
    position: relative;
    height: 100px;
    left: -50%;
    border-bottom: 1px solid blue;

}
.plogo1 {
  font-weight: bold;
  font-size: 35px;
  font-style: italic;
  color: black;
  line-height: 100px;
}
.plogo2 {
  font-weight: bold;
  font-size: 35px;
  font-style: italic;
  color: blue;
  line-height: 100px;
}
.firsttxt {
  margin-top: 30px;
  color: lightgreen;
}
.textareawr {
  // margin-left: 10px;
  position: relative;
  overflow: auto;
  background: white;
  width: 430px;
 display: inline-block;
}
.picon {
  // position: absolute;
  margin-top: 7px;
  font-size: 30px;
  cursor: pointer;
}
.iconwr {
  overflow: auto;
  background-color: white;
  height: 45px;
  width: 45px;
  text-align:center;
  border-radius: 2px;
  display: inline-block;
}
.iconwr:hover {
 border: 1px solid gray;
}
#pasteTxt {
   margin-left: 30px;
   border: none;
}
#pasteTxt:focus  {
outline:0px !important;
}
.pasteBox {
  text-align: center;
  margin: 0 auto;
  margin-top: 200px;
  width: 80vw;
  background: red;
  padding: 0;
  position: relative;
  // word-spacing: 100vw;
}
.btnnn {

border: none;
background: #404040;
color: #ffffff !important;
font-weight: 100;
padding:  10px 15px;
text-transform: uppercase;
border-radius: 6px;
display: inline-block;
transition: all 0.3s ease 0s;

}
.btnnn:hover {
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
cursor: pointer;
}
.centerList {

  margin: auto;
  overflow: auto;
  text-align: center;
  background-color: orange;
  width: 62vw;
  text-align: left;

}
.sctwr {
  display: flex;
  width: 300px;
}
.pasteform {

  margin-left: 30px;
  width: 250px;
}
.tst1 {
  display: flex;
}
.pastearrow {
  // float: right;
  width: 40px;
  text-align: center;
}
.arrw {
  font-size: 20px;
}
.pastewrp {
  display: flex;
}
.sct select {

	display: block;
	font-size: 16px;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
.sct select::-ms-expand {
	display: none;
}
.sct select:hover {
	border-color: #888;
}
.sct select:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
.sct select option {
	font-weight:normal;
}
.pastelower {
  margin-top: 20px;
  border-top: 1px solid blue;
  width: 800px;
  height: 90px;
  position: relative;

  display: block;
}
.pastefooter {
  display: flex;
    position: relative;
    width: 100%;
    left: -50%;
    top: 90%;
    height: 250px;
    background-color: gray;
    transform: translateY(-100%);
}
.pastefoot1 {
    display: flex;
    // position: relative;
    width: 50%;
    // left: 0;
    // float: left;
    height: 100%;

  }
  .pastefoot1le {
      // display: flex;
      // position: relative;
      width: 50%;
      // left: 0;
      // float: left;
      height: 100%;
      background-color: #B9BDC1;
    }
    .pastefoot1ri {
      // display: flex;
        // display: inline-block;
        // position: relative;
        width: 50%;
        // float: right;
        height: 100%;
        background-color: #B9BDC1;
      }





  .pastefoot2 {
    display: flex;
      // display: inline-block;
      // position: relative;
      width: 50%;
      // float: right;
      height: 100%;

    }
    .pastefoot2le {
        // display: flex;
        // position: relative;
        width: 50%;
        position: relative;
        // left: 0;
        // float: left;
        height: 100%;
        background-color: #B9BDC1;
      }
      .pastefoot2ri {
        // display: flex;
          // display: inline-block;
          // position: relative;
          width: 50%;
          // float: right;
          height: 100%;
          background-color: #B9BDC1;
        }
.hattrick a:hover {
  background-color: transparent;
}

.word {
  // padding-left: 20px;
}
.colOne {

   width: 30vw;
   position: relative;
   background: blue;
   margin: 0 auto;
   text-align: left;
   display: inline-block;
   z-index: 2;
}
// .colTwo {
//    height: 80vh;
//    width: 30vw;
//    position: relative;
//    background: green;
//    margin: 0 auto;
//    text-align: left;
//    display: inline-block;
//     z-index: 2;
// }
.arrList {

}

 .word .sp {
  visibility: hidden;

  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.defn .sp {
 visibility: hidden;

 width: 120px;
 background-color: black;
 color: #fff;
 text-align: center;
 border-radius: 6px;
 padding: 5px 0;

 /* Position the tooltip */
 position: absolute;
 z-index: 1;
}
.wrapALL {
  // background: #393E40;
}
// .word:hover .tooltiptext {
//   visibility: visible;
// }
// .defn:hover .tooltiptext {
//   visibility: visible;
// }
// .card {
//   position: absolute;
//   background-image: url("index_card.png");
//   background-size: 100%;
//   height: 300px;
//   width: 500px;
//   left: 45%;
//   margin-left: -250px;
//   top: 50%;
//   z-index: 2;
//   /* for firefox 31 */
//   // transform: rotateX(0deg);
// }
// .back {
//   position: absolute;
//   background-color: red;
//   height: 300px;
//   width: 500px;
//   left: 45%;
//   margin-left: -250px;
//   top: 50%;
//   z-index: 2;
//   /* for firefox 31 */
// transform: rotateX(180deg)
// }



.flip-container {
	  perspective: 1000px;
    position: absolute;
    left: 45%;
    margin-left: -250px;
    top: 50%;
}
	/* flip the pane when hovered */
 // .flip-container.active {
	// transform: rotateX(180deg);
 // }
// .front, .back
.flip-container, {
	width: 620px;
	height: 580px;
}

/* flip speed goes here */
.flipper {
	transition: 0.3s;
	transform-style: preserve-3d;
  transform-origin: 100% 150px; /* half of height */
	position: relative;
}

/* hide back of pane during swap */
// .card {
// 	backface-visibility: hidden;
//
// 	// position: absolute;
// 	// top: 0;
// 	// left: 0;
// }
.swap {
  margin-top: 10px;
  padding: 0px 10px;

}

.smallcard {
  position: absolute;
  // background-image: url("index_card.png");
  background-color: orange;
  background-size: 100%;
  height: 100px;
  width: 200px;
  left: 135%;
  margin-left: -250px;
  top: 160%;
  z-index: 3;
  transform: rotateX(0deg);
}
.smallcard2 {
  position: absolute;
  background-image: url("index_card.png");
  background-size: 200px 100px;
  height: 100px;
  width: 200px;
  left: 135%;
  margin-left: -250px;
  top: 160%;
  z-index: 2;
  transform: rotateX(0deg);
}
// .back {
// 	transform: rotateY(180deg);
// }

.flashcardInputWrap {
  margin: 0 auto;
  margin-top: 1000px;
  width: 50vw;
  background: orange;
}
.flashcardForm {

float: right;
}






.outer {
  perspective: 1000px;
  position: absolute;
  left: 45%;
  margin-left: -250px;
  top: 50%;
  width: 500px;
	height: 300px;
	}
	.outer div {
		// width:275px;
		// height:475px;
		transition:all .6s;

	}
	.front {
    position: absolute;
		z-index:999;
    background-image: url("index_card.png");
    background-size: 100%;
    height: 300px;
    width: 500px;
    left: 0;
    top: 0;

	}
	.back {
    position: absolute;
		z-index:-999;
    background-color: orange;
    background-size: 100%;
    height: 300px;
    width: 500px;
    left: 0;
    top: 0;

    // margin-left: -250px;

		-webkit-transform:rotateX(180deg);
		-moz-transform: rotateX(180deg);
		-o-transform: rotateX(180deg);
		-ms-transform: rotateX(180deg);
		transform: rotateX(180deg);
	}






   @media screen and (max-width: 1080px) {
     .midset {
       width: 100vw;
       left: 0;
     }
     .topset {
       left: 0;
       width: 100vw;
     }
     .pastelogo {
       left: 0;
     }
     .tst1 {
       display: block;
     }
     .pastefooter {
       display: block;
       left: 0%;
     }
     .pastelower {
       width: 100vw;
     }
       .pastefoot1 {
           position: relative;
           display: inline-block;
           width: 100%;
           // left: 0;
           // float: left;
           background-color: pink;


         }
         .pastefoot2 {
             display: block;
             position: relative;
             width: 100%;
             // left: 0;
             // float: left;
           }

       .pastefoot1le {
         // background-color: blue;
         display: inline-block;
         width: 100%;
         text-align: center;
         border-bottom: 1px solid gray;
        }
       .pastefoot1ri {
          // background-color: green;
          display: inline-block;
          width: 100%;
          // height: 170%;
          text-align: center;
          border-bottom: 1px solid gray;
          // padding-bottom: 20px;
       }
       .pastefoot2le {
       // background-color: red;
       display: inline-block;
       width: 100%;

       text-align: center;
       border-top: 1px solid gray;
       border-bottom: 1px solid gray;
       margin-top: 30px;
       }
       .pastefoot2ri {
          // background-color: yellow;
          display: inline-block;
          width: 100%;
          text-align: center;
       }
       // .footone li, .foottwo li,
       // .footthree li,
       // .footfour li{
       //   margin-left: -70px
       // }


  }
   @media screen and (max-width: 900px) {

   }
