// Place all the styles related to the translation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lownav {
  display: none;
}
.topnav {

}
#pasteTxt {

  //
  // margin: 0 auto;
  // margin-top: 20px;
  // font-size: 17px;
  // border: none;
  //  z-index: 2;
  //  width: 30vw;
  //  height: 70vh;
  //  vertical-align: top;

}

.pasteBox {
  text-align: center;
  margin: 0 auto;
  height: 80vh;
  width: 80vw;
  background: red;
  padding: 0;
  position: relative;
  // word-spacing: 100vw;
}
.pasteInner {
   height: 80vh;
   width: 40vw;
   position: relative;
   background: lightblue;
   margin: 0 auto;
   text-align: left;
   // width: min-intrinsic;
   // width: -webkit-min-content;
   // width: -moz-min-content;
   // width: min-content;
   // display: table-caption;
   // display: -ms-grid;
   // -ms-grid-columns: min-content;
}
