// Place all the styles related to the translation controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lownav {
  display: none;
}
.topnav {

}
#pasteTxt {

  //
  // margin: 0 auto;
  // margin-top: 20px;
  // font-size: 17px;
  // border: none;
  //  z-index: 2;
  //  width: 30vw;
  //  height: 70vh;
  //  vertical-align: top;

}

.pasteBox {
  text-align: center;
  margin: 0 auto;
  margin-top: 200px;
  width: 80vw;
  background: red;
  padding: 0;
  position: relative;
  // word-spacing: 100vw;

}
.centerList {

  margin: auto;
  overflow: auto;
  text-align: center;
  background-color: orange;
  width: 62vw;
  text-align: left;

}
.word {
  padding-left: 20px;
}
.colOne {

   width: 30vw;
   position: relative;
   background: blue;
   margin: 0 auto;
   text-align: left;
   display: inline-block;
   z-index: 2;
}
// .colTwo {
//    height: 80vh;
//    width: 30vw;
//    position: relative;
//    background: green;
//    margin: 0 auto;
//    text-align: left;
//    display: inline-block;
//     z-index: 2;
// }
.arrList {

}
